<div
  class="shadow-lg border-success mt-5 rounded"
  style="max-width: 18rem; height: 800px"
>
  <div
    class="card-header progress-bar progress-bar-striped progress-bar-animated bg-success text-center text-white font-italic"
  >
    Filters
  </div>
  <div class="card-body bg-light text-success">
    <form action="/search/" method="POST">
      {% csrf_token %}
      <h5 class="card-title text-dark">
        Sources
        <button
          class="btn btn-outline-light bg-success my-2 my-sm-0 ml-5"
          type="submit"
          style="box-shadow: 4px 4px 5px seagreen"
        >
          Apply filters
        </button>
      </h5>
      <input type="checkbox" name="source" value="coursera" />
      Coursera<br />
      <input type="checkbox" name="source" value="futurelearn" />
      Futurelearn<br /><br />
      <h5 class="card-title text-dark">Course Types</h5>
      <input type="checkbox" name="course-type" value="course" /> COURSE<br />
      <input type="checkbox" name="course-type" value="specializaton" />
      SPECIALIZATION<br />
      <input type="checkbox" name="course-type" value="degree" /> DEGREE<br />
      <input
        type="checkbox"
        name="course-type"
        value="professional certificate"
      />
      PROFESSIONAL CERTIFICATE<br />
      <br />
      <h5 class="card-title text-dark">Providers</h5>
      <input type="checkbox" name="provider" value="ibm" /> IBM<br />
      <input type="checkbox" name="provider" value="microsoft" />
      Microsoft<br />
      <input type="checkbox" name="provider" value="google cloud" /> Google
      Cloud<br />
      <input type="checkbox" name="provider" value="amazon web services" />
      Amazon Web Services<br />
      <input type="checkbox" name="provider" value="university of michigan" />
      University of Michigan<br />
      <input type="checkbox" name="provider" value="stanford university" />
      Stanford University<br />
      <input
        type="checkbox"
        name="provider"
        value="national research university"
      />
      National Research University<br />
      <input type="checkbox" name="provider" value="imperial college london" />
      Imperial College London<br />

      <!-- <h5 class="card-title text-dark">Duration</h5>
      <input type="checkbox" name="" value="" /><br />
      <input type="checkbox" name="" value="" /><br />
      
      <h5 class="card-title text-dark"></h5>
      <input type="checkbox" name="" value="" /><br />
      <input type="checkbox" name="" value="" /><br /> -->
      <input type="hidden" name="search" value="{{ search }}" />
    </form>
  </div>
</div>
