{% extends 'base1.html' %} <br />
{% block content %} 

<div class="card" style="margin-left: 10%; margin-right: 10%; margin-top: 15%; box-shadow: 5px 5px 5px grey;">
  {% if request.POST %}
  <form action="/gate/" method="post">
    {% csrf_token %}
    {% else %}
  <form action="/" method="post">
    {% csrf_token %}
    <input type="hidden" name="hid" value="linkedin">
    {% endif %}
    <div
      class="card-header progress-bar progress-bar-striped progress-bar-animated bg-success text-center text-white"
    >
      Preferences
    </div>
    <div class="card-body form-group">
      <label>Technologies</label>
      <input
        type="text"
        id="p"
        name="pref"
        class="form-control"
        placeholder="Enter comma-seperated values... e.g. python, machine learning, DevOps, etc."
        value=""
      />
    </div>
    <div class="text-right mb-3 mr-3">
      <button
        type="submit" style="box-shadow: 4px 4px 5px seagreen"
        class="btn btn-info btn-outline-success text-light"
       {% if request.POST %}
        onclick="r()"
        {% endif %}
      >
        Save
      </button>
    </div>
  </form>
</div>
<!-- <div class="row">
  <div class="col-sm-12 mb-3">
    <h4 class="text-center">Welcome {{ user.username }}</h4>
  </div> -->
<!-- {% for ass in backends.associated %} <br />
  {% if ass.provider == 'linkedin-oauth2' %}
  <div class="col-md-6 text-center">
    <img
      src="{{ ass.extra_data.picture_url }}"
      alt=""
      width="150"
      height="150"
      style="border-radius: 50%"
    />
  </div>
  <div class="col-md-6 social-container my-2">
    <p>Signed in via: Linkedin</p>
    <p>Name: {{ ass.extra_data.name }}</p>
    <p>Provider url: <a href="{{ ass.extra_data.profile_url }}">link</a></p>
  </div>
  {% endif %} {% endfor %} -->
<!-- <div class="col-sm-12 mt-2 text-center">
    <button class="btn btn-success">
      <a href="/">Access Granted!!!</a>
    </button>
  </div>
</div> -->
{% endblock %}
