{% extends 'base1.html' %} <br />
{% block title %} Home {% endblock %}
<br />
{% block content %}
<div class="row">
  <div class="col-sm-12 mb-3">
    <h4 class="text-center">Welcome {{ user.username }}</h4>
  </div>
  {% for ass in backends.associated %} <br />
  {% if ass.provider == 'linkedin-oauth2' %}
  <div class="col-md-6 text-center">
    <img
      src="{{ ass.extra_data.picture_url }}"
      alt=""
      width="150"
      height="150"
      style="border-radius: 50%"
    />
  </div>
  <div class="col-md-6 social-container my-2">
    <p>Signed in via: Linkedin</p>
    <p>Name: {{ ass.extra_data.name }}</p>
    <p>Provider url: <a href="{{ ass.extra_data.profile_url }}">link</a></p>
  </div>
  {% endif %} {% endfor %}
  <div class="col-sm-12 mt-2 text-center">
    <button class="btn btn-success">
      <a href="/">Access Granted!!!</a>
    </button>
  </div>
</div>
{% endblock %}
