{% extends 'base1.html' %} {% block content %}
<div
  class="card text-center p-2"
  style="margin-left: 30%; margin-right: 30%; margin-top: 20%;"
>
  <div class="card-header bg-success text-white">
    Register Yourself
  </div>
  <div class="card-body">
    <button class="btn btn-lg btn-outline-success btn-info">
      <a href="{% url 'social:begin' 'linkedin-oauth2' %}" style="color:white;"
        >Sign In with LinkedIn</a
      >
    </button>
    <!-- <br />
    <div class="btn btn-lg btn-outline-success btn-danger mt-5">
      <a href="mail/" style="color:white;">SignUp with Mail</a>
    </div> -->
  </div>
</div>
{% endblock %}
