{% extends 'base1.html' %} {% block content %} {% if mode == "signup" %}
<div class="card" style="margin-left: 10%; margin-right: 10%; margin-top: 10%">
  <h5
    class="card-header progress-bar progress-bar-striped progress-bar-animated bg-success text-center text-white"
  >
    Enter Your Details
  </h5>
  <div class="card-body">
    <form action="/gate/" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationDefault01">First name</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault01"
            name="first_name"
            placeholder="First name"
            value=""
            required
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault02">Last name</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault02"
            name="last_name"
            placeholder="Last name"
            value=""
            required
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefaultUsername">Username</label>
          <input
            type="text"
            class="form-control"
            id="validationDefaultUsername"
            aria-describedby="inputGroupPrepend2"
            name="username"
            value="{{username}}"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-5 mb-3">
          <label for="validationDefault03">College/University</label>
          <input
            type="text"
            class="form-control"
            name="college"
            id="validationDefault03"
            placeholder="e.g.: Lovely Professional University"
            required
          />
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationDefault04">Qualification</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault04"
            name="qualification"
            placeholder="e.g.: B. Tech - CSE"
            required
          />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault05">Contact</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">+91</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="validationDefault05"
              name="contact"
              placeholder="XXXXXXXXXX"
              required
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="invalidCheck2"
            required
          />
          <label class="form-check-label" for="invalidCheck2">
            Agree to terms and conditions
          </label>
          <div class="text-right mb-3">
            <button
              class="btn btn-info btn-outline-success text-light"
              type="submit"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %} {% endblock %}
